.custom-bg{
    background-color: #289BDE;
}
.custom-bg-2{
    background-color: #F4FAFD;
}
.custom-color{
    color: #289BDE;
}
.custom-color-2{
    color: #0B5ED7;
}
.custom-width{
    width: 50%;
    max-width: 100%;
}
section{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.img-custom{
    min-width: 100%;
}

.col-lg-8{
    margin: 0 auto;
}

.social-icon ul li:hover a i{
    color: #289BDE;
}